# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Local test artifacts
*.xcresult
*.ipa
*.dSYM.zip
*.app.dSYM
